<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jlt.tts.report" >

    <select id="queryReportList" resultType="com.tts.ms.bis.report.vo.ReportVo">
        SELECT rd.id AS reportDetailId,rd.reportType,rd.reportImages,rd.reportDesc
        FROM t_t_report_detail rd
        WHERE rd.reportId = #{reportId} AND rd.reportType=#{reportType} AND rd.dataStatus=1
    </select>

</mapper>